.card {
    border-radius: 8px;
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .card-image {
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  @media only screen and (max-width: 768px) {
    .card-content {
        padding: 10px;
        min-height: 80px;
        height: 100%;
        color: #000;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
      }
  }

  @media only screen and (min-width: 769px) {
    .card-content {
        padding: 10px;
        min-height: 150px;
        height: 100%;
        color: #000;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
      }
  }
  
  @media only screen and (max-width: 768px) {
    .card-heading {
        font-size: 12px;
        text-align: left;
        margin: 0;
    }
  }

  @media only screen and (min-width: 769px) {
    .card-heading {
        font-size: 16px;
        text-align: left;
        margin: 0;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .card-subheading {
        font-size: 8px;
        text-align: left;
    }
  }

  @media only screen and (min-width: 769px) {
    .card-subheading {
        font-size: 12px;
        text-align: left;
    }
  }

  .card-divider {
    width: 90%;
    border-bottom: 2px solid #ddd;
    padding-top: 10px;
    margin-bottom: -10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  @media only screen and (max-width: 768px) {
    .card-price {
        padding-right: 5px;
        padding-top: 0px;
        margin-bottom: auto;
        font-size: 12px;
        font-weight: bold;
        text-align: right;
        color: #5cce87;
    }
  }

  @media only screen and (min-width: 769px) {
    .card-price {
        padding-right: 5px;
        padding-top: 0px;
        margin-bottom: auto;
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        color: #5cce87;
    }
  }